/* third party styles */
@import "~bootstrap/scss/bootstrap";
@import "~react-tippy/dist/tippy.css";
@import "~react-custom-scroll/dist/customScroll.css";
@import "~react-slidedown/lib/slidedown.css";
@import "~react-modal-video/scss/modal-video.scss";

/* project styles */
@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";
@import "base/reset";

@import "layouts/footer";
@import "layouts/grid";
@import "layouts/header";
@import "layouts/navigation";
@import "layouts/sidebar";

@import "pages/cart-wishlist";
@import "pages/my-account";
@import "pages/checkout";
@import "pages/compare";
@import "pages/coming-soon";
@import "pages/StickyMenu";
@import "pages/404";

@import "components/button";
@import "components/form";
@import "components/cta";
@import "components/hero-slider";
@import "components/product-tab";
@import "components/product-thumb";
@import "components/product-modal";
@import "components/product-image-gallery";
@import "components/product-description";
@import "components/breadcrumb";
@import "components/empty-area";
@import "components/shop-header";
@import "components/shop-advance-filter";
@import "components/pagination";
@import "components/section-title";
@import "components/testimonial";
@import "components/icon-box";
@import "components/map";
@import "components/faq";
@import "components/blog";
@import "components/category";
@import "components/product-slider";
@import "components/product-widget";
@import "components/team";
@import "components/newsletter";
@import "components/countdown-timer";
@import "components/lookbook";
@import "components/shop-info";
@import "components/banner";
@import "components/about";
@import "components/brand-logo";
@import "components/image-slider";
@import "components/overlay-menu";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

.challenge-div{
    padding: 10px;
    width: 200px;
}

.gradient-div{
    background: rgb(255,228,240);
background: radial-gradient(circle, rgba(255,228,240,0) 0%, rgba(0,0,0,0.7707457983193278) 88%);
position: absolute;
top: 0;
width: 100%;
height: 100%;
}

.heading-card {
    font-size: 11px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
}

.text-card {
    font-size: 12px;
    font-weight: 600;
}

.header-card {
    font-size: 13px;
    font-weight: bold;
    color: #6dcdbb;
}

.character-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reg-btn {
    background: #6dcdbb;
    border-color: #6dcdbb;
    font-size: 15px;
}

.donate-box {
    width: 270px;
}

.attach-card {
    // margin-left: 50px;   
    color: rgb(32, 29, 29);
    background: #a5cd37;
}
.totalprice {
    
    // margin-left: 50px;
    color: white;
}

.donate-btn {
    border-color: #6dcdbb;
    color: #ffff;
    background: #6dcdbb;
}

.background-image {
    background-image: radial-gradient(circle, rgba(255,228,240,0) 0%, rgba(0,0,0,0.7707457983193278) 88%),  url('/assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.character-style { 
    display: block;
    width: 400px;
    height: 440px;
    margin-top: 65px;
    margin-left: 14px;
}

.modal-banner-div {
    flex: 1 1 0%;
    display: block;
    padding: 24px;
    background-color: #ebf5fa;
    width: 400px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    @include respond(extra-small-mobile) {
        display: none;
    }
}

.modal-input-div {
    flex: 1 1 0%;
    width: 400px;
    padding: 24px;

    p {
        font-size: 12px;
    }

    input::placeholder {
        color: #BBBBBB;
    }

    label {
        font-size: 12px;
    }

    a {
        width: 100%;
    }

    hr {
        margin: 0px;
        block-size: 1px;
        inline-size: 100%;
        border-block-end: 0px;
        border-block-start: 1px solid rgb(207, 206, 206);
    }

    h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }
}

.close-btn-div {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-bottom: 0px;
    font-size: 25px;
    color: #BBBBBB;
    
}

.login-sell-div {
    margin-top: 20px;
    display: flex;

    span {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.66;
        color: rgb(0, 0, 0);
    }
    u{
        cursor: pointer;
    }
}

.ssss{
    background-image: url("./images/01.jpg");

}

.register-title{
    // background-color: #3c3636;
}

.header-card2{
    // font-size: 24px;
    font-weight: bold;
    color: #a5cd37;
}
.donate-sec{
    background-image: url("./images/03.jpg");
    background-size: cover;
    height: 500px;
}

.donate-sec .gradient{
    height: 500px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.8239670868347339) 0%, rgba(0,0,0,0.3841911764705882) 28%, rgba(8,8,8,0) 100%);}

.donate-sec h2 {
    color:#6d0e0f   
}
section{
    margin-bottom: 20px;
}
.uk-button-danger{
    margin: 10px 20px 10px 0px !important;
}
.content h1{
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: white;
}
.uk-card{
    width: fit-content;
}





.items-grid div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(109 106 106); 
    height: 80px; 
    // background-color: darkgrey;
}
.items-grid div p {
    margin: 10px 0px 5px 0px !important
}
.items-donate-box{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.dashboard{
    background: rgb(115,26,29);
background: linear-gradient(90deg, rgba(115,26,29,1) 0%, rgba(171,24,29,1) 50%, rgba(97,12,12,1) 100%);
}


.main-footer .logo {
    margin-bottom: 5px;
    margin-top: 15px;
}


.donate-items{
    width: 30%;
    margin-left: 5%;
}
.boyimg{
    height: 60%;
    width: fit-content;
    margin-left: auto;

}

.list-group .list-group-item{
    margin-top: 20px;
    border-radius: 4px;

}
.list-group h4{
    margin: 10px 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.list-group  span {
    margin-left: 5px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}




.list-group-item button{
    color: white;
    margin-top: 10px;
}

.pricetag{
    font-size: 12px;
}

.grid-div{

    margin: 2px;
    height: 20px;
    width: 20px;
}

.imageDiv {
    height: 35px;
    width: 40px;
}

.uk-button-danger{
    background: #a5cd37 !important;
    color: #343434 !important ;
    font-family: 'Roboto' , sans-serif !important;
    font-weight: 600 !important;
}

@media screen and (max-width:768px) {
    .boyimg{
        width: 50%;
    }
    .donate-items {
        width: 50%;
        margin-left: 8%;
    }
}

.navbar {
    background-color: #f8f9fa; /* Light background color */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}