.navbar{
    width: 100%;
    min-height: 6vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    transition: all .7s ease-in;
  }
  //IMPORTANT
  .scrolled{
    position: fixed;
    bottom: 0;
    background-color: lightblue;
  }
  .logo img{
    width: 50px;
  }
  